{% extends 'car_rent/base.html' %}

{% block content %}

<div class="p-4 mb-2 bg-success text-dark">
<p class="text-center">The special fascination of the Golden Roberts not only lies in its
    products and technology, but also in the company’s history, written by inventors,
    pioneers and brilliant designers. Today, the Golden Roberts, with its 31 production and
    assembly facilities in 15 countries as well as a global sales network, is the
    world’s leading manufacturer of premium automobiles and motorcycles, and provider
    of premium financial and mobility services.
    The Golden Roberts sets trends in production technology and sustainability as an innovation
    leader with an intelligent material mix, a technological shift towards digitalisation
    and resource-efficient production. At the same time, flexibility and continuous
    optimisation of value chains ensure competitiveness.</p>

</div>
{% endblock content %}