{% extends 'car_rent/base.html' %}

{% block content %}
    <form action = "{% url 'car_rent:car_rental_return' offer.id %}" method="POST">
        <div class="">
                <div class="container col-md-5 ">
                    <div class="card card-body bg-info mb-3 border-primary mb-3">
                        {% csrf_token %}
                        {% if user %}
                            <h5>Client name: {{user}}</h5>
                        {% else  %}
                            <h5>Client mail: {{user.email}}</h5>
                        {% endif %}
                        <p>Offer: {{offer.Vehicle_Id.model_id}}</p>
                        <p>Date of Rent: {{date }} </p>
                        <p>Price per day: {{ offer.Price_per_day }} GR </p>
                        <p>Total price: {{ price }} soon we take from your wallet</p>

                        <input type="submit" value="Return" class="btn btn-danger">
                   </div>
                </div>
         </div>
    </form>
{% endblock content %}