{% extends 'car_rent/base.html' %}

{% block content %}
    <form action = "{% url 'car_rent:car_rental' offer.id %}" method="POST">
        <div class="">
            <div class="container col-md-5 ">
                <div class="card card-body bg-info mb-3 border-primary mb-3">
                {% csrf_token %}

                {% if user %}
                    <h5>Client name: {{ user }}</h5>

                {% else  %}
                    <h5>Client mail: {{ user.email }}</h5>

                {% endif %}

                <p>Offer: {{ offer.Vehicle_Id.model_id }}</p>
                <p>Date of Rent: {{ date.day }}/{{ date.month }}/{{ date.year }}</p>
                <p>Deposit: {{ offer.Deposit}} GR</p>
                <p>Price per day: {{ offer.Price_per_day }} GR </p>
                <p>Total price: {{ price }} You will see after car return</p>

                <br>
                <br>

                {% if messages%}
                    <a href="{% url 'car_rent:list-of-rental-offers' %}" class="btn btn-danger"
                       role="button" aria-pressed="true">Back</a>

                    <br>

                    <a href="{% url 'car_rent:account-payment' %}" class="btn btn-secondary"
                       role="button" aria-pressed="true">Go to payment</a>

                {% else %}
                    <input type="submit" value="Confirm" class="btn btn-success">

                {% endif %}
                </div>
                <div class="form-group">

                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{message}}
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
{% endblock content %}