{% extends 'car_rent/base.html' %}

{% block content %}

<div class="p-4 mb-2 bg-success text-dark">
<p class="text-center">.</p>
  </div>
     <form action = "" method="GET">
	    <div class="col-sm-12">
		    <div class="card-body">
        <h5>Client name: {{request.user.name}}</h5>
        <p>Offer: {{form.rental_offer_id}}</p>
        <p> Date of Rent: {{ form.date_of_rent }}</p>
        <p>Total price: {{ form.total_price }}</p>
                 {% csrf_token %}
<!--                    {{form}}-->
                    <input type="submit" name="Submit">
</div>
{% endblock content %}