{% extends 'car_rent/base.html' %}
{% block content %}

<div class="">
    <div class="card text-white bg-secondary mb-3 border-primary mb-3" style="width: 30rem;">

        <div class="card-header">
        Creating offer </div>

	    <div class="col-md-5">
            <div class="card-body">
        <form action = "" method="POST">
                    {% csrf_token %}
                    {{form}}

                    <input type="submit" name="Submit">
                </form>

                </form>
		    </div>
	    </div>
    </div>
</div>
{% endblock %}