{% extends 'car_rent/base.html' %}
{% block content %}

<div class="">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'car_rent:list-of-branch'  %}">List of Branch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'car_rent:create-branch'  %}">Create Branch <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'car_rent:list-of-branch'  %}">Back</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="card text-white bg-secondary mb-3 border-primary mb-3" style="width: 25rem;">

        <div class="card-header">
        Creating Branch </div>

	    <div class="col-sm-6">
		    <div class="card-body">

                <form action = "" method="POST">
                    {% csrf_token %}
                    {{form}}

                    <input type="submit" name="Submit">
                </form>
		    </div>
	    </div>
    </div>
</div>
{% endblock %}