{% extends 'car_rent/base.html' %}

{% block content %}
<form action="{% url 'car_rent:list-of-rental-offers' %}" method="post">

    {% for offer in list_of_offers %}
        {% csrf_token %}
        {{ form }}
        <br>
        <div class="container ">
            <div class="col-md-6">
                <div class="card card-body bg-light mb-3 border-primary mb-3">

                    <h5>Model:{{offer.Vehicle_Id.model_id}} {{ offer.id }}</h5>
                    <p>Categories: {{offer.Categories}}</p>
                    <p>Description:{{offer.Description}}</p>
                    <p>Deposit: {{ offer.Deposit }}</p>
                    <p>Price_per_day: {{ offer.Price_per_day }}</p>



                    {% if rented == offer.id%}
                        <a class="btn btn-outline-danger btn-sm btn-block"
                           href="{% url 'car_rent:car_rental_return' offer.id %}">Return</a>
                    {% elif car_rental_availability %}
                        {% if offer.id in car_rental_availability %}
                            <a class="btn btn-secondary btn-sm btn-block disabled"
                                   href="#">Someone rented this car</a>
                        {% else%}
                            {% if rented %}
                                <a class="btn btn-outline-success btn-sm btn-block disabled" aria-disabled="true"
                                   href="#"> Rent </a>
                            {% else %}
                                <a class="btn btn-outline-success btn-sm btn-block " role="button" aria-disabled="true"
                                   href="{% url 'car_rent:car_rental' offer.id %}">Rent</a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <a class="btn btn-outline-success btn-sm btn-block " role="button" aria-disabled="true"
                           href="{% url 'car_rent:car_rental' offer.id %}">Rent</a>
                    {% endif %}

                </div>
            </div>
        </div>
        <br>
    {% endfor %}
</form>
{% endblock content %}



