{% extends 'car_rent/base.html' %}


{% block content %}

<div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'car_rent:list-of-branch'  %}">List of Branch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'car_rent:create-branch'  %}">Create Branch <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'car_rent:list-of-branch'  %}">Back</a>
      </li>
    </ul>
  </div>

</nav>
   {% for branch in list_of_branches %}
<br>


    <div class="container">
        <div class="col-sm-6 ">
            <div class="card card-body bg-light mb-3 border-primary mb-3">
			<h5>Branch Id: {{branch.id}}</h5>
             <p>Address: {{ branch.address }}</p>
        <p>City: {{branch.city}}</p>
        <p>Mobile:{{branch.mobile}}</p>
        <p>Hours of open from {{ branch.open_from}} till {{ branch.open_till}}</p>
        <p>Mail: {{ branch.mail }}</p>
        <p>Remarks: {{ branch.remarks }}</p>
			<hr>
            <a class="btn btn-outline-primary  btn-sm btn-block" href="{% url 'car_rent:branch' branch.id %}">View Branch</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'car_rent:edit-branch' branch.id %}">Update Branch</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'car_rent:delete-branch' branch.id %}">Delete Branch</a>

        </div>
             </div>
                    </div>

</br>
   {% endfor %}

</div>
{% endblock content %}