{% extends 'accounts/base.html' %}

{% block content %}

<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-4 col-sm--4 col-xs-12"></div>
        <div class="col-md-4 col-sm--4 col-xs-12">

            <form method="post" class="form-container">
                <h4>Change password for your account</h4>
                {% csrf_token %}
                <label class="label_text" for="email"> Email </label>
                <input type="email" class="form-control" name="email" id="email"
                               aria-describedby="emailHelp" placeholder="Enter email" required>
                <div class="d-grid gap-3 ">
                    <button class="btn btn-success btn-lg custom_button" type="submit" >Submit</button>
                    <a class="btn btn-secondary btn-sm" href="{% url 'login_user'  %}" role="button">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

